@grey: #f0f0f0;
* {
	font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
}
html {
	background:#fafafa;
}
body {
	margin: 0 auto;
	padding: 50px;
	width:900px;
	background:#fff;
}
td {
	border:1px solid @grey;
	padding:5px;
}
header {
	>* {
		display:inline-block;	
	}
	span {
		text-align:right;
	}
	border-bottom:1px solid darken(@grey, 20%);
}

// new monster page
#new_monster_form {
	width: 700px;
	margin: 0 auto;	
	* {
		width:100%;
	}
	input{
		height:30px;
		margin:0 0 5px 0;
	}
	label {
		font-size:11pt;
		margin:10px 0 2px 0;
		display:block;
	}
	hr {
		margin:40px 0 40px 0;
	}
	.col1, .col2 {
		width:50% - 1px;
		display:inline-block;
		vertical-align:top;
	}
	a.delete_x {
		color:#900;
		text-decoration:none;
		&:hover {
			color:#c00;
		}
		&:active {
			color:#f00;
		}
	}
	.natural_attack {
		border-bottom:1px solid darken(@grey, 15%);
		margin:0 0 20px 0;
		padding:0 0 20px 0;
	}
	input[type='submit']{
		height:50px;
		margin:30px 0 0 0;
		font-size:18px;
	}
	.skill_input{
		width:95%;
	}
}