<html>
	<head>
		<title>{{page_name}}</title>
		<!-- Including various libraries and helpers -->
		<link href='/static/css/normalize.css' rel='stylesheet' type='text/css'>
		<link href='/static/css/formalize.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<script src='/static/js/jquery.js' type='text/javascript'></script>
		<script src='/static/js/formalize.js' type='text/javascript'></script>

		<!-- My includes -->
		<link href='/static/style.less' rel='stylesheet/less' type='text/css'>
		<script src='/static/core.js' type='text/javascript'></script>
		<script src='/static/js/less.js' type='text/javascript'></script>
	</head>
	<body>
		<header>
		<h1 id="title">Persona: Wildcard | Monster Manager</h1>
		<span>
			<a href="/">Home...</a>
			{{#user}}Hi {{name}}!{{/user}}{{^user}}<a href='/login/'>Login</a> or <a href='/register/'>Register</a>?
		</span>
		</header>
