<html>
	<head>
		<title>{{page_name}}</title>
		<link href='https://raw.github.com/necolas/normalize.css/master/normalize.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<style>
			* {
				font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
			}
			html {
				background:#fafafa;
			}
			body {
				margin: 0 auto;
				padding: 50px;
				width:900px;
				background:#fff;
			}
			td{
				border:1px solid #f0f0f0;
				padding:5px;
			}
			#home, #title{
				display:inline-block;
			}
			#home{
				margin-left:260px;
			}
		</style>
	</head>
	<body>
		<h1 id="title">Persona: Wildcard | Monster Manager</h1>
		<a id="home" href="/">Home...</a>
		<hr>
