<h2>Official Monsters</h2>
<table>
	<tr>
		<td>Name</td>
		<td>description</td>
		<td>level</td>
		<td>hit points</td>
		<td>skill points</td>
<!--		<td>resistances</td>
		<td>skills</td>
		<td>natural attacks</td>
-->	</tr>
{{#monsters}}
	<tr>
		<td><a href="/monsters/{{_id}}/">{{name}}</a></td>
		<td>{{description}}</td>
		<td>{{level}}</td>
		<td>{{hit_points}}</td>
		<td>{{skill_points}}</td>
<!--		<td>
			<table>
			{{#resistances}}
				<tr>
					<td>{{attribute}}</td>
					<td>{{resistance}}</td>
				<tr>
			{{/resistances}}
			</table>
		</td>
		<td>
			<ul>
			{{#skills}}
			<li>{{skill}}</li>
			{{/skills}}
			</ul>
		</td>
		<td>
		<table>
			<tr>
				<td>name</td>
				<td>cost</td>
				<td>hits</td>
				<td>damage</td>
				<td>ailment</td>
				<td>critical</td>
				<td>notes</td>
			</tr>
			{{#natural_attacks}}
			<tr>
				<td>{{name}}</td>
				<td>{{cost}}</td>
				<td>{{hits}}</td>
				<td>{{damage}}</td>
				<td>{{ailment}}</td>
				<td>{{critical}}</td>
				<td>{{notes}}</td>
			</tr>
		{{/natural_attacks}}
		</table>
		</td>
-->	</tr>
{{/monsters}}
</table>
