<h2>New Monster</h2>
<form method='post' action='/monsters/'>
	<label>Name</label>
		<input type='text' name='name'>
	<label>Description</label>
		<textarea name='description'></textarea>
	<label>Level</label>
		<input name='level' type='number'>
	<label>Hit Points</label>
		<input name='hit_points' type='number'>
	<label>Skill Points</label>
		<input name='skill_points' type='number'>
	<hr>

	<div id='resistances_form'>
		<h3>Resistances</h3>
		<div class='resistance'>
			<select name='resistance_attribute' placeholder='Attribute'>
				<option>Physical</option>
				<option>Fire</option>
				<option>Ice</option>
				<option>Lightning</option>
				<option>Wind</option>
				<option>Light</option>
				<option>Dark</option>
			</select>
			<select name='resistance_resistance' placeholder='Resistance'>
				<option>Weak</option>
				<option>Resist</option>
				<option>Null</option>
				<option>Absorb</option>
				<option>Reflect</option>
				<option>N/A</option>
			</select>
		</div>
		<a href='#'>add another...</a>
	</div>
	<hr>

	<div id='skills_form'>
		<h3>Skills</h3>
		<input type='text' name='skill'>
		<a href='#'>add another...</a>
	</div>
	<hr>

	<div id='natural_attacks_form'>
		<h3>Natural Attacks</h3>
		<div class='natural_attack'>
			<label>Name</label>
				<input type='text' name='natural_attack_name'>
			<label>Cost</label>
				<input type='number' name='natural_attack_cost'>
			<label>Hits</label>
				<input type='number' name='natural_attack_hits'>
			<label>Damage</label>
				<input type='number' name='natural_attack_damage'>
			<label>Critical</label>
				<input type='number' name='natural_attack_critical'>
			<label>Ailment</label>
				<input type='text' name='natural_attack_ailment'>
			<label>Description</label>
				<textarea name='natural_attack_description'></textarea>
		</div>
		<a href='#'>add another...</a>
	</div>
</form>